.current-forecast h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.card-title {
  margin-bottom: 0;
}

.weather-desc {
  font-size: 2rem;
  margin-top: 0;
  text-transform: capitalize;
}

.weather-info {
  font-size: 1.25rem;
}

.current-forecast .weather-info {
  font-size: 1.75rem;
}

.content {
  margin: 2rem 1.5rem 0;
}

.content-title {
  font-size: 1.75rem;
  line-height: 1.15;
  margin-bottom: 0.5rem;
}