::-webkit-scrollbar {
  height: .5em;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
}

.navbar-brand i {
  margin-right: 1rem;
}

.content-wrapper {
  padding: 3rem;
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 0.5rem;
  }
}

.content {
  margin: 2rem 0.5rem 0;
}

.card {
  height: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 2rem;
}

.card-title {
  margin-bottom: 0;
}

.forecast-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.forecast {
  min-width: 10rem;

  &::after:not(:last-child) {
    content: '';
    height: 100%;
    width: 2px;
  }
}

#hourly .forecast {
  min-width: 9rem;
}

.weather-desc {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .5rem;
  text-transform: capitalize;
}

.weather-info {
  font-size: 1.25rem;

  i {
    font-size: 1.5rem;
    margin-right: .25rem;
  }
}

.current-forecast .weather-info {
  font-size: 1.75rem;
}

.content-title {
  font-size: 1.75rem;
  line-height: 1.15;
  margin-bottom: 0.5rem;
}